body {
  background-color: #f3f3f3;
}

#main {
  padding-top: 200px;
  text-align: center;
}

#dateContainer {
  float: right;
  margin-right: 15px;
  text-align: center;
}

#search {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

#searchBar {
  margin-top: 25%;
  text-align: center;
  border: 1px solid #f3f3f3;
}

#searchBar:focus {
  outline: none;
}

#buttonContainer {
  width: 100%;
  padding-top: 15px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.menu-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-container {
  display: none;
  position: absolute;
  min-width: 200px;
  left: -80px;
  z-index: 1;
  padding-top: 13px;
}

.dropdown-container a {
  color: black;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.dropdown-container a:hover {
  opacity: 30%;
}

.menu-item:hover .dropdown-container {
  display: block; 
}
